* {
    --navy-blue: #006daa;
    --dark-blue: #005c8f;
}

.header {
    background: linear-gradient( var(--navy-blue), var(--dark-blue));
    margin: 0 auto;
    width: 100%;
    height: 12vh;
    min-height: 100px;
}

#logo img {
    max-width: 20vw;
    min-width: 65px;
    height: 70px;
}

#logo a {
    margin: auto;
}

.header, div {
    display: grid;
    }

#logo a figure img {
    max-width: 160px;
}

#logo {
    grid-column: 1;
}

#title {
    grid-column: 2;
    position: relative;
    color : white;
}

#title::after {
    content: "";
    clear: both;
    display: table;
}

#title, h1 {
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 5vw;
    min-width: 100px;
    text-justify: auto;
}

#profile {
    margin-top: 5px;
    grid-column: 3;
}

#profile p {
    text-align: center;
    margin-top: 0px;
}

#profile img {
    max-width: 90px;
    min-width: 70px;
    margin: auto;
}

footer {
    background-color: var(--navy-blue);
    text-align: center;
    position: absolute;
    bottom: 0;
    height: 30px;
    width: 100%;
}

footer small {
    height: 30px;
    line-height: 30px;
}

iframe[seamless] {
    border: none;
}

@font-face {
font-family: "Triomphe";
    src: url('../assets/fonts/Triomphe-Regular-autoinstr.ttf');
    font-weight: normal;
    font-style : normal;
}

.triomphe {
    font-family: 'Triomphe';
}


.background {
    background-image: url("../assets/connexion_background.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.table_header {
    font-size: 2vw;
    font-family: 'Triomphe';
}

.table_cell {
    font-size: 1.5vw;
    font-family: 'Triomphe';
}

@media (min-width: 1024px) {
    .table_header {
        font-size: 1vw;
    }
    .table_cell {
        font-size: 0.8vw;
    }
}
