/*********************** GENERAL ***********************/

* {
    --navy-blue: #006daa;
    --dark-blue: #005c8f;
}

html {
    height: 100vh;
  }

body {
    min-height: 100vh;
    margin: 0;
    padding: 0!important;
    display: flex;
    overflow: visible!important;
  }

/*********************** HEADER ***********************/

.header {
    background: linear-gradient( var(--navy-blue), var(--dark-blue));
    margin: 0 auto;
    width: 100%;
    min-height: 140px;
}

/************ LOGO ************/

#logo img, #profile img {
    max-width: 6vw;
    min-width: 70px;
    height: 4%;
}

#logo a {
    margin: auto;
}

.header, div {
    display: grid;
    }

#logo {
    grid-column: 1;
}

/************ TITLE ************/

#title {
    grid-column: 2;
    position: relative;
    color : white;
}

#title::after {
    content: "";
    clear: both;
    display: table;
}

#title, h1 {
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 30px;
    min-width: 100px;
    text-justify: auto;
    letter-spacing: 2px;
}

/************ PROFILE ICON ************/

#profile {
    margin-top: 5px;
    grid-column: 3;
}

#profile p {
    text-align: center;
    margin-top: 0px;
}

#profile img {
    margin: auto;
}

/*********************** FOOTER ***********************/

footer {
    background-color: var(--navy-blue);
    text-align: center;
    bottom: 0;
    width: 100%;
    margin-top: auto;
}

footer small {
    height: 30px;
    line-height: 30px;
    font-size: 8px;
    text-justify: auto;
    letter-spacing: 1px;
}

iframe[seamless] {
    border: none;
}

/*********************** TYPOGRAPHY ***********************/

@font-face {
font-family: "Triomphe";
    src: url('../assets/fonts/Triomphe-Regular-autoinstr.ttf');
    font-weight: normal;
    font-style : normal;
}

.triomphe {
    font-family: 'Triomphe';
}

/*********************** LOGIN PAGE ***********************/

.background {
    background-image: url("../assets/connexion_background.png");
    background-repeat: no-repeat;
    background-size: cover;
}

/*********************** TABLE ***********************/

.table_header {
    font-size: 2vw;
    font-family: 'Triomphe';
}

.table_cell {
    font-size: 1.5vw;
    font-family: 'Triomphe';
    text-align: center;
}

/*********************** MEDIA ***********************/

@media (min-width: 1024px) {
    .table_header {
        font-size: 1vw;
    }
    .table_cell {
        font-size: 0.8vw;
    }
}

@media (max-width: 800px) {
    
    .navbar {
        height: 10vh;
    }

    .navbar a {
        width: 50%;
        text-align: center;
    }

    .navbar a button {
        width: 90%;
        height: 90%;
        font-size: 0.8em;
    }

    #profile {
        margin-top: 30px;
    }

    .skills-table {
        max-width: 250px;
        max-height: 200px;
        overflow: auto;
    }

    .skills-table table {
        width: 500px;
    }

    .table_cell {
        font-size: 3vw;
    }

    .table_header {
        font-size: 3vw;
        height: 30px;
    }

    .connexion-label {
        font-size: 4vw;
    }

    .manage-button {
        font-size: 3vw;
    }

    .user-title {
        font-size: 5vw!important;
    }

    .addtraining-label {
        font-size: 4vw;
    }

    .addtraining-container select, .addtraining-container input{
        font-size: 3vw;
    }

}

/*********************** SESSION MANAGEMENT ***********************/

.apti{
    flex-direction: row;
    align-items: flex-end;
    gap: 10px;
    height: 100%;
}

.apti div{
    text-align: center;
}

.ability-name{
    margin-bottom: auto;
}

select, input {
    height: 40px;
}

/*********************** SKILLS DETAILS ***********************/

.skills-table{
    width: 75vw;
    height: 250px;
}

.skills-table table{
    height: 100%;
    margin: 0;
}

/*********************** SKILLS DETAILS ***********************/

.connexion-label {
    text-align: center;
    font-size: 3em;
}

.connexion-form {
    width: 75%;
}

.connexion-input {
    padding-right: 0!important;
    max-width: 100%;
}

/*********************** USER MANAGEMENT ***********************/

.user-title {
    font-size: 1.5vw;
}

/*********************** FORMATION ADD ***********************/

.addtraining-label {
    text-align: center;
}

.addtraining-checkbox {
    padding: 0;
}

/*********************** SESSION MANAGEMENT ***********************/

.student-row td select {
    min-width: 100px;
}

.sessionManagement-button {
    width: 20vw;
    min-width: 100px;
    max-width: 250px;
    overflow: hidden;
}