/*********************** GENERAL ***********************/

* {
    --navy-blue: #006daa;
    --dark-blue: #005c8f;
}

html {
    height: 100%;
  }

body {
    min-height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    padding-bottom: 30px;
  }

/*********************** HEADER ***********************/

.header {
    background: linear-gradient( var(--navy-blue), var(--dark-blue));
    margin: 0 auto;
    width: 100%;
    min-height: 140px;
}

/************ LOGO ************/

#logo img, #profile img {
    max-width: 6vw;
    min-width: 50px;
    height: 4%;
}

#logo a {
    margin: auto;
}

.header, div {
    display: grid;
    }

#logo {
    grid-column: 1;
}

/************ TITLE ************/

#title {
    grid-column: 2;
    position: relative;
    color : white;
}

#title::after {
    content: "";
    clear: both;
    display: table;
}

#title, h1 {
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 30px;
    min-width: 100px;
    text-justify: auto;
    letter-spacing: 2px;
}

/************ PROFILE ICON ************/

#profile {
    margin-top: 5px;
    grid-column: 3;
}

#profile p {
    text-align: center;
    margin-top: 0px;
}

#profile img {
    margin: auto;
}

/*********************** FOOTER ***********************/

footer {
    background-color: var(--navy-blue);
    text-align: center;
    position: absolute;
    bottom: 0;
    height: 30px;
    width: 100%;
    margin-top: 10px;
}

footer small {
    height: 30px;
    line-height: 30px;
    font-size: 8px;
    text-justify: auto;
    letter-spacing: 1px;
}

iframe[seamless] {
    border: none;
}

/*********************** TYPOGRAPHY ***********************/

@font-face {
font-family: "Triomphe";
    src: url('../assets/fonts/Triomphe-Regular-autoinstr.ttf');
    font-weight: normal;
    font-style : normal;
}

.triomphe {
    font-family: 'Triomphe';
}

/*********************** LOGIN PAGE ***********************/

.background {
    background-image: url("../assets/connexion_background.png");
    background-repeat: no-repeat;
    background-size: cover;
}

/*********************** TABLE ***********************/

.table_header {
    font-size: 2vw;
    font-family: 'Triomphe';
}

.table_cell {
    font-size: 1.5vw;
    font-family: 'Triomphe';
}

/*********************** MEDIA ***********************/

@media (min-width: 1024px) {
    .table_header {
        font-size: 1vw;
    }
    .table_cell {
        font-size: 0.8vw;
    }
}

/*********************** SESSION MANAGEMENT ***********************/

.apti{
    flex-direction: row;
    align-items: flex-end;
    gap: 10px;
    height: 100%;
}

.apti div{
    text-align: center;
}

.ability-name{
    margin-bottom: auto;
}

select, input {
    height: 40px;
}